@font-face {
	font-family: 'file-icons';
	src:url('fonts/file-icons.eot?sfjsju');
	src:url('fonts/file-icons.eot?sfjsju#iefix') format('embedded-opentype'),
		url('fonts/file-icons.woff2?sfjsju') format('woff2'),
		url('fonts/file-icons.ttf?sfjsju') format('truetype'),
		url('fonts/file-icons.woff?sfjsju') format('woff'),
		url('fonts/file-icons.svg?sfjsju#file-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'file-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dockerfile:before {
	content: "\f106";
}
.icon-jsx:before {
	content: "\f100";
}
.icon-jsx-2:before {
	content: "\f101";
}
.icon-elm:before {
	content: "\f102";
}
.icon-build-boot:before {
	content: "\f103";
}
.icon-cljs:before {
	content: "\f104";
}
.icon-clj:before {
	content: "\f105";
}
.icon-nginx:before {
	content: "\f146b";
}
.icon-tex:before {
	content: "\e600";
}
.icon-bib:before {
	content: "\e601";
}
.icon-ionic-project:before {
	content: "\f14b";
}
.icon-haml:before {
	content: "\f15b";
}
.icon-npm:before {
	content: "\f17b";
}
