/* Base16 Colors from https://github.com/chriskempson/base16
 * Easy config for when user wants to display different icons,
 * but not colorize them.
 */
@colored-icons: true;

/* Easy config for desired theme.
 * Currently available themes are
 * located inside /themes/ folder.
 */
@base16-theme: 'default';

@import "themes/@{base16-theme}.less";

/* @m<x> = .medium-<x>
 * @l<x> = .light-<x> (<x> ligthened 15%)
 * @d<x> = .dark-<x> (<x> darkened 15%)
 */

// Red Colors
@mr: @base08;
@lr: lighten(@mr, 15%);
@dr: darken(@mr, 15%);

// Orange colors
@mo: @base09;
@lo: lighten(@mo, 15%);
@do: darken(@mo, 15%);

// Yellow colors
@my: @base0A;
@ly: lighten(@my, 15%);
@dy: darken(@my, 15%);

// Green colors
@mg: @base0B;
@lg: lighten(@mg, 15%);
@dg: darken(@mg, 15%);

// Cyan colors
@mc: @base0C;
@lc: lighten(@mc, 15%);
@dc: darken(@mc, 15%);

// Blue colors
@mb: @base0D;
@lb: lighten(@mb, 15%);
@db: darken(@mb, 15%);

// Purple colors
@mp: @base0E;
@lp: lighten(@mp, 15%);
@dp: darken(@mp, 15%);

// Maroon colors
@mm: @base0F;
@lm: lighten(@mm, 15%);
@dm: darken(@mm, 15%);

.light-red  when (@colored-icons) { color: @lr; }
.medium-red when (@colored-icons) { color: @mr; }
.dark-red   when (@colored-icons) { color: @dr; }

.light-green  when (@colored-icons) { color: @lg; }
.medium-green when (@colored-icons) { color: @mg; }
.dark-green   when (@colored-icons) { color: @dg; }

.light-yellow  when (@colored-icons) { color: @ly; }
.medium-yellow when (@colored-icons) { color: @my; }
.dark-yellow   when (@colored-icons) { color: @dy; }

.light-blue  when (@colored-icons) { color: @lb; }
.medium-blue when (@colored-icons) { color: @mb; }
.dark-blue   when (@colored-icons) { color: @db; }

.light-maroon  when (@colored-icons) { color: @lm; }
.medium-maroon when (@colored-icons) { color: @mm; }
.dark-maroon   when (@colored-icons) { color: @dm; }

.light-purple  when (@colored-icons) { color: @lp; }
.medium-purple when (@colored-icons) { color: @mp; }
.dark-purple   when (@colored-icons) { color: @dp; }

.light-orange  when (@colored-icons) { color: @lo; }
.medium-orange when (@colored-icons) { color: @mo; }
.dark-orange   when (@colored-icons) { color: @do; }

.light-cyan  when (@colored-icons) { color: @lc; }
.medium-cyan when (@colored-icons) { color: @mc; }
.dark-cyan   when (@colored-icons) { color: @dc; }
