// Octicon icons, from: https://github.com/github/octicons

.octicons { font-family: "Octicons Regular"; font-size: medium; }

.checklist-icon { .octicons; content: "\f076"; }
.code-icon      { .octicons; content: "\f05f"; }
.comment-icon   { .octicons; content: "\f02b"; }
.dashboard-icon { .octicons; content: "\f07d"; }
.database-icon  { .octicons; content: "\f096"; }
.gear-icon      { .octicons; content: "\f02f"; }
.git-icon       { .octicons; content: "\f00a"; }
.package-icon   { .octicons; content: "\f0c4"; }
.ruby-icon      { .octicons; content: "\f047"; left: -1px; }
.secret-icon    { .octicons; content: "\f08c"; }
.terminal-icon  { .octicons; content: "\f0c8"; }
.xml-icon       { .octicons; content: "\f010"; }
.markdown-icon  { .octicons; content: "\f0c9"; left: -1px; }

// FontAwesome icons, looks better on small font-size,
// from: http://fortawesome.github.io/Font-Awesome/cheatsheet/

.fa { font-family: "FontAwesome"; font-size: small; }

.coffee-icon { .fa; content: "\f0f4"; }
.css3-icon   { .fa; content: "\f13c"; }
.html5-icon  { .fa; content: "\f13b"; font-size: medium; }

// Mfizz icons, look better on small font-size,
// from: http://mfizz.com/oss/font-mfizz

.mf { font-family: "FontMfizz"; font-size: small; }

.c-icon       { .mf; content: "\f106"; left: 1px; }
.cpp-icon     { .mf; content: "\f10b"; left: 1px; }
.csharp-icon  { .mf; content: "\f10c"; left: 1px; }
.elixir-icon  { .mf; content: "\f113"; left: 1px; }
.erlang-icon  { .mf; content: "\f114"; left: 1px; }
.haskell-icon { .mf; content: "\f121"; left: 1px; }
.java-icon    { .mf; content: "\f125"; left: 1px; font-size: medium; }
.mongodb-icon { .mf; content: "\f135"; left: 1px; }
.objc-icon    { .mf; content: "\f13e"; left: 1px; font-size: medium; }
.perl-icon    { .mf; content: "\f142"; left: 1px; }
.php-icon     { .mf; content: "\f146"; left: 2px; }
.python-icon  { .mf; content: "\f14d"; left: 1px; }
.scala-icon   { .mf; content: "\f155"; left: 1px; font-size: medium; }
.svg-icon     { .mf; content: "\f15d"; left: 1px; }
