@import "colors.less";
@import "fonts.less";
@import "icons.less";
@import "items.less";
@import "ui-variables";


// Defaults
.icon-file-text,
.icon-file-directory,
.icon-file-media,
.icon-book {
  &:before { text-align: center; }
}


// Git
.icon-file-directory[data-name=".git"]:before     { .git-icon; }

// Package
.icon-file-directory[data-name=".bundle"]:before  { .package-icon; }

// Meteor
.icon-file-directory[data-name=".meteor"]:before  { .meteor-icon; }

// Default: Image
.icon-file-media[data-name$=".png"]:before { .medium-orange; }
.icon-file-media[data-name$=".gif"]:before { .medium-yellow; }
.icon-file-media[data-name$=".jpg"]:before { .medium-green;  }

// Default: Book
.icon-book[data-name="README.md"]:before,
.icon-book[data-name="Readme.md"]:before,
.icon-book[data-name="readme.md"]:before { .medium-blue; }



// File icons
.file-icons-tab-pane-icon @{pane-tab-selector},
.icon-file-text,
.icon-file-binary,
.theme-flatland-dark-ui .icon-file-text,
.theme-flatland-dark-ui .icon-book {

  &:before {
    .text-icon;
    font-style: normal !important;
  }

  // Ada
  &[data-name$=".ada"]:before,
  &[data-name$=".adb"]:before,
  &[data-name$=".ads"]:before            { .ada-icon;            .medium-blue; }
  
  // Adobe
  &[data-name$=".ai"]:before             { .ai-icon;           .medium-orange; }
  &[data-name$=".ait"]:before            { .ai-icon;             .dark-orange; }
  &[data-name$=".psd"]:before            { .psd-icon;            .medium-blue; }

  // APL / Dyalog APL
  &[data-name$=".apl"]:before            { .apl-icon;               .dark-red; }
  &[data-name$=".dyalog"]:before         { .dyalog-icon;       .medium-orange; }
  
  // AppleScript
  &[data-name$=".applescript"]:before,
  &[data-name$=".scpt"]:before           { .apple-icon;        .medium-purple; }

  // AsciiDoc
  &[data-name$=".adoc"]:before,
  &[data-name$=".asc"]:before,
  &[data-name$=".asciidoc"]:before       { .asciidoc-icon;       .medium-blue; }

  // Assembly and binary
  &[data-name$=".o"]:before,
  &[data-name$=".out"]:before,
  &[data-name$=".s"]:before,
  &[data-name$=".asm"]:before            { .binary-icon;          .medium-red; }
  &[data-name$=".ko"]:before             { .binary-icon;          .dark-green; }
  
  // Babel
  &[data-name$=".babelrc"]:before        { .babel-icon;        .medium-yellow; }
  &[data-name$=".babelignore"]:before    { .babel-icon;          .dark-yellow; }

  // Boot
  &[data-name$="build.boot"]:before      { .boot-icon; }

  // Cakefile
  &[data-name="Cakefile"]:before         { .cake-icon;            .medium-red; }

  // Checklist
  &[data-name$="TODO"]:before            { .checklist-icon;    .medium-yellow; }

  // Clojure / ClojureScript
  &[data-name$=".clj"]:before            { .clojure-icon;         .auto(blue); }
  &[data-name$=".cljs"]:before           { .cljs-icon;            .auto(blue); }

  // CoffeeScript
  &[data-name$=".coffee"]:before         { .coffee-icon;       .medium-maroon; }
  &[data-name$=".cjsx"]:before           { .coffee-icon;         .dark-maroon; }
  &[data-name$=".litcoffee"]:before      { .coffee-icon;        .light-maroon; }
  &[data-name$=".iced"]:before           { .coffee-icon;         .medium-blue; }

  // Config files
  &[data-name$=".ini"]:before            { .config-icon;       .medium-yellow; }
  &[data-name$=".properties"]:before     { .config-icon;       .medium-purple; }
  &[data-name$=".toml"]:before           { .config-icon;        .medium-green; }

  // Crystal
  &[data-name$=".cr"]:before,
  &[data-name$=".ecr"]:before            { .crystal-icon;        .medium-cyan; }

  // CSS
  &[data-name$=".less"]:before           { .css3-icon;             .dark-blue; }
  &[data-name$=".css"]:before            { .css3-icon;           .medium-blue; }
  &[data-name$=".styl"]:before           { .css3-icon;          .medium-green; }

  // Cucumber (Gherkin)
  &[data-name$=".feature"]:before        { .comment-icon;       .medium-green; }

  // D lang
  &[data-name$=".d"]:before              { .dlang-icon;           .medium-red; }
  &[data-name$=".di"]:before             { .dlang-icon;           .medium-red; }

  // Dart
  &[data-name$=".dart"]:before           { .dart-icon;           .medium-cyan; }

  // Dashboard
  &[data-name$=".slim"]:before           { .dashboard-icon;    .medium-orange; }
  &[data-name$=".skim"]:before           { .dashboard-icon;    .medium-orange; }

  // Data files
  &[data-name$=".json"]:before           { .database-icon;     .medium-yellow; }
  &[data-name$=".json5"]:before          { .database-icon;       .dark-yellow; }
  &[data-name$=".hjson"]:before          { .database-icon;     .medium-yellow; }
  &[data-name$=".geojson"]:before        { .database-icon;     .medium-yellow; }
  &[data-name$=".ndjson"]:before         { .database-icon;     .medium-orange; }
  &[data-name$=".cson"]:before           { .database-icon;     .medium-maroon; }
  &[data-name$=".yml"]:before            { .database-icon;         .light-red; }
  &[data-name$=".yaml"]:before           { .database-icon;         .light-red; }

  // Dockerfile
  &[data-name^="Dockerfile"]:before      { .docker-icon;           .dark-blue; }
  &[data-name$=".dockerignore"]:before   { .docker-icon;           .dark-blue; }

  // Elixir
  &[data-name$=".ex"]:before             { .elixir-icon;         .dark-purple; }
  &[data-name$=".exs"]:before            { .elixir-icon;       .medium-purple; }
  &[data-name$=".eex"]:before            { .elixir-icon;       .medium-purple; }
  &[data-name$=".html.eex"]:before       { .html5-icon;        .medium-purple; }
  &[data-name$=".json.eex"]:before       { .database-icon;     .medium-purple; }
  &[data-name$="mix.exs"]:before         { .elixir-icon;        .light-purple; }
  &[data-name$="mix.ex"]:before          { .elixir-icon;        .light-purple; }

  // Elm
  &[data-name$=".elm"]:before            { .elm-icon;            .medium-blue; }
  
  // Emacs Lisp
  &[data-name$=".emacs"]:before,
  &[data-name$=".emacs.desktop"]:before,
  &[data-name$=".el"]:before             { .emacs-icon;        .medium-purple; }
  

  // Emblem
  &[data-name$=".emblem"]:before,
  &[data-name$=".em"]:before             { .mustache-icon;       .medium-blue; }

  // Erlang
  &[data-name$=".erl"]:before            { .erlang-icon;          .medium-red; }
  &[data-name$=".beam"]:before           { .erlang-icon;            .dark-red; }

  // ESLint
  &[data-name$=".eslintrc"]:before,
  &[data-name$=".eslintrc.js"]:before,
  &[data-name$=".eslintrc.json"]:before,
  &[data-name$=".eslintrc.yaml"]:before,
  &[data-name$=".eslintrc.yml"]:before   { .eslint-icon;         .light-purple }
  &[data-name$=".eslintignore"]:before   { .eslint-icon;        .medium-purple }

  // F# / FSharp
  &[data-name$=".fs"]:before             { .fsharp-icon;         .medium-blue; }
  &[data-name$=".fsx"]:before            { .fsharp-icon;         .medium-blue; }
  &[data-name$=".fsi"]:before            { .fsharp-icon;         .medium-blue; }
  
  // Flow
  &[data-name$=".flowconfig"]:before     { .flow-icon;         .medium-orange; }

  // FORTRAN
  &[data-name$=".f"]:before              { .fortran-icon;      .medium-maroon; }
  &[data-name$=".f90"]:before            { .fortran-icon;       .medium-green; }
  &[data-name$=".f03"]:before            { .fortran-icon;         .medium-red; }
  &[data-name$=".f08"]:before            { .fortran-icon;        .medium-blue; }
  &[data-name$=".f77"]:before            { .fortran-icon;      .medium-maroon; }
  &[data-name$=".f95"]:before            { .fortran-icon;          .dark-pink; }
  &[data-name$=".for"]:before            { .fortran-icon;          .dark-cyan; }
  &[data-name$=".fpp"]:before            { .fortran-icon;        .dark-yellow; }

  // Gear
  &[data-name$=".hgignore"]:before       { .gear-icon;                         }
  &[data-name=".mailmap"]:before         { .gear-icon;                         }
  &[data-name$=".editorconfig"]:before   { .gear-icon;         .medium-orange; }
  &[data-name=".lesshintrc"]:before      { .gear-icon;           .dark-yellow; }
  &[data-name=".csscomb.json"]:before    { .gear-icon;         .medium-yellow; }
  &[data-name$=".csslintrc"]:before      { .gear-icon;         .medium-yellow; }
  &[data-name$=".jsbeautifyrc"]:before   { .gear-icon;         .medium-yellow; }
  &[data-name$=".jshintrc"]:before       { .gear-icon;         .medium-yellow; }
  &[data-name$=".jshintignore"]:before   { .gear-icon;                         }
  &[data-name$="coffeelintignore"]:before{ .gear-icon;         .medium-maroon; }
  &[data-name$=".jscsrc"]:before         { .gear-icon;         .medium-yellow; }
  &[data-name$=".module"]:before         { .gear-icon;           .medium-blue; }
  &[data-name=".htaccess"]:before        { .gear-icon;            .medium-red; }
  &[data-name=".htpasswd"]:before        { .gear-icon;         .medium-orange; }

  // Generic format: Audio
  &[data-name$=".mp3"]:before            { .audio-icon;           .medium-red; }
  &[data-name$=".m4p"]:before,
  &[data-name$=".aac"]:before            { .audio-icon;            .dark-cyan; }
  &[data-name$=".aiff"]:before           { .audio-icon;        .medium-purple; }
  &[data-name$=".au"]:before             { .audio-icon;          .medium-cyan; }
  &[data-name$=".flac"]:before           { .audio-icon;             .dark-red; }
  &[data-name$=".m4a"]:before            { .audio-icon;          .medium-cyan; }
  &[data-name$=".mpc"]:before,
  &[data-name$=".mp+"]:before,
  &[data-name$=".mpp"]:before            { .audio-icon;           .dark-green; }
  &[data-name$=".oga"]:before            { .audio-icon;          .dark-orange; }
  &[data-name$=".opus"]:before           { .audio-icon;          .dark-maroon; }
  &[data-name$=".ra"]:before,
  &[data-name$=".rm"]:before             { .audio-icon;            .dark-blue; }
  &[data-name$=".wav"]:before            { .audio-icon;          .dark-yellow; }
  &[data-name$=".wma"]:before            { .audio-icon;          .medium-blue; }

  // Generic format: Code
  &[data-name$=".xml"]:before            { .code-icon;           .medium-blue; }
  &[data-name$=".config"]:before         { .code-icon;           .medium-blue; }
  &[data-name$=".manifest"]:before       { .code-icon;           .medium-blue; }
  &[data-name$=".jl"]:before             { .code-icon;         .medium-purple; }
  &[data-name$=".cfc"]:before            { .code-icon;            .light-cyan; }
  &[data-name$=".cfm"]:before            { .code-icon;           .medium-cyan; }
  &[data-name$=".cfml"]:before           { .code-icon;           .medium-cyan; }

  // Generic format: Fonts
  &[data-name$=".eot"]:before            { .font-icon;           .light-green; }
  &[data-name$=".ttc"]:before            { .font-icon;            .dark-green; }
  &[data-name$=".ttf"]:before            { .font-icon;          .medium-green; }
  &[data-name$=".otf"]:before            { .font-icon;           .dark-yellow; }
  &[data-name$=".woff"]:before           { .font-icon;           .medium-blue; }
  &[data-name$=".woff2"]:before          { .font-icon;             .dark-blue; }

  // Generic format: Images
  &[data-name$=".png"]:before            { .image-icon;        .medium-orange; }
  &[data-name$=".gif"]:before            { .image-icon;        .medium-yellow; }
  &[data-name$=".jpg"]:before            { .image-icon;         .medium-green; }
  &[data-name$=".ico"]:before            { .image-icon;          .medium-blue; }
  &[data-name$=".svg"]:before            { .svg-icon;            .dark-yellow; }
  &[data-name$=".PNG"]:before            { .image-icon;        .medium-orange; }
  &[data-name$=".GIF"]:before            { .image-icon;        .medium-yellow; }
  &[data-name$=".JPG"]:before            { .image-icon;         .medium-green; }
  &[data-name$=".ICO"]:before            { .image-icon;          .medium-blue; }
  &[data-name$=".SVG"]:before            { .svg-icon;            .dark-yellow; }

  // Generic format: Videos
  &[data-name$="avi"]:before             { .video-icon;          .medium-blue; }
  &[data-name$="mp4"]:before             { .video-icon;            .dark-blue; }
  &[data-name$="mov"]:before             { .video-icon;          .medium-cyan; }
  &[data-name$="mkv"]:before             { .video-icon;        .medium-purple; }
  &[data-name$="h264"]:before            { .video-icon;           .dark-green; }
  &[data-name$="webm"]:before            { .video-icon;            .dark-blue; }
  &[data-name$="wmv"]:before             { .video-icon;          .dark-purple; }
  &[data-name$="ogv"]:before             { .video-icon;          .dark-orange; }
  &[data-name$="ogg"]:before             { .video-icon;        .medium-orange; }
  &[data-name$="3gp"]:before             { .video-icon;          .medium-blue; }
  &[data-name$="m4v"]:before             { .video-icon;          .dark-yellow; }
  &[data-name$="mpg"]:before             { .video-icon;             .dark-red; }
  &[data-name$="mpeg"]:before            { .video-icon;           .medium-red; }
  &[data-name$="3gpp"]:before            { .video-icon;           .light-blue; }
  &[data-name$="ogm"]:before             { .video-icon;             .dark-red; }

  // Git
  &[data-name$=".gitattributes"]:before,
  &[data-name$=".gitconfig"]:before,
  &[data-name$=".gitignore_global"]:before,
  &[data-name$=".gitignore"]:before,
  &[data-name$=".gitkeep"]:before,
  &[data-name$=".gitmodules"]:before     { .git-icon;             .medium-red; }

  // Gnuplot
  &[data-name$=".gp"]:before,
  &[data-name$=".gnuplot"]:before        { .graph-icon;           .medium-red; }

  // Go
  &[data-name$=".go"]:before             { .go-icon;             .medium-blue; }
  &[data-name$=".gohtml"]:before         { .html5-icon;            .dark-blue; }

  // Gradle
  &[data-name$=".gradle"]:before         { .gradle-icon;         .medium-blue; }

  // Groovy
  &[data-name$=".groovy"]:before,
  &[data-name$=".grt"]:before,
  &[data-name$=".gtpl"]:before,
  &[data-name$=".gsp"]:before,
  &[data-name$=".gvy"]:before            { .groovy-icon;          .light-blue; }

  // Haskell
  &[data-name$=".hs"]:before             { .haskell-icon;      .medium-purple; }

  // Haxe
  &[data-name$=".hx"]:before,
  &[data-name$=".hxsl"]:before           { .haxe-icon;         .medium-orange; }
  &[data-name$=".hxml"]:before           { .checklist-icon;    .medium-orange; }

  // HTML
  &[data-name$=".html"]:before           { .html5-icon;        .medium-orange; }
  &[data-name$=".htm"]:before            { .html5-icon;        .medium-orange; }
  &[data-name$=".shtml"]:before          { .html5-icon;          .medium-cyan; }
  &[data-name$=".haml"]:before           { .haml-icon;         .medium-yellow; }
  &[data-name$=".jsp"]:before            { .html5-icon;        .medium-purple; }
  &[data-name$=".ctp"]:before            { .html5-icon;          .medium-blue; }
  &[data-name$=".ejs"]:before            { .html5-icon;         .medium-green; }
  &[data-name$=".swig"]:before           { .html5-icon;         .medium-green; }
  &[data-name$=".phtml"]:before          { .html5-icon;            .dark-blue; }
  &[data-name$=".cshtml"]:before         { .html5-icon;           .medium-red; }

  // Ionic
  &[data-name="ionic.project"]:before    { .ionic-icon;          .medium-blue; }

  // Java
  &[data-name$=".java"]:before           { .java-icon;         .medium-purple; }

  // JavaScript
  &[data-name$=".js"]:before             { .js-icon;            .auto(yellow); }
  &[data-name$=".es6"]:before            { .js-icon;            .auto(yellow); }
  &[data-name$=".es"]:before             { .js-icon;            .auto(yellow); }

  // JSX
  &[data-name$=".jsx"]:before            { .jsx-icon;             .auto(blue); }
  &[data-name$=".tsx"]:before            { .jsx-icon;             .light-blue; }
  &[data-name$=".react.js"]:before       { .react-icon;           .auto(blue); }

  // Kivy
  &[data-name$=".kv"]:before             { .kivy-icon;           .dark-maroon; }

  // Leiningen
  &[data-name$="project.clj"]:before     { .lein-icon; }

  // LISP
  &[data-name$=".lsp"]:before            { .lisp-icon;            .medium-red; }
  &[data-name$=".lisp"]:before           { .lisp-icon;              .dark-red; }
  &[data-name$=".cl"]:before             { .lisp-icon;         .medium-orange; }
  &[data-name$=".l"]:before              { .lisp-icon;         .medium-maroon; }
  &[data-name$=".ny"]:before             { .lisp-icon;           .medium-blue; }

  // LiveScript
  &[data-name$=".ls"]:before             { .ls-icon;             .medium-blue; }

  // LLVM Assembly
  &[data-name$=".ll"]:before             { .llvm-icon;            .dark-green; }

  // Lua
  &[data-name$=".lua"]:before            { .lua-icon;            .medium-blue; }

  // Makefile
  &[data-name^="Makefile"]:before        { .checklist-icon;    .medium-yellow; }
  &[data-name="GNUmakefile"]:before      { .checklist-icon;     .medium-green; }
  &[data-name="Kbuild"]:before           { .checklist-icon;      .medium-blue; }
  &[data-name="makefile"]:before         { .checklist-icon;    .medium-yellow; }
  &[data-name="mkfile"]:before           { .checklist-icon;    .medium-yellow; }
  &[data-name$=".mk"]:before             { .checklist-icon;    .medium-yellow; }
  &[data-name$=".mak"]:before            { .checklist-icon;    .medium-yellow; }

  // Markdown (except readme.md)
  &[data-name$=".mdown"]:before,
  &[data-name$=".markdown"]:before,
  &[data-name$=".mkd"]:before,
  &[data-name$=".mkdown"]:before,
  &[data-name$=".rmd"]:before,
  &[data-name$=".Rmd"]:before,
  &[data-name$=".ron"]:before,
  &[data-name$=".md"]:before             { .markdown-icon;       .medium-blue; }

  // Marko
  &[data-name$=".marko"]:before          { .marko-icon;          .medium-blue; }
  &[data-name$=".marko.js"]:before       { .marko-icon;        .medium-maroon; }

  // MAXScript
  &[data-name$=".ms"]:before,
  &[data-name$=".mce"]:before,
  &[data-name$=".mcr"]:before            { .maxscript-icon;        .dark-blue; }

  // Mustache / Handlebars
  &[data-name$=".hbs"]:before,
  &[data-name$=".handlebars"]:before,
  &[data-name$=".mustache"]:before       { .mustache-icon;     .medium-orange; }

  // NGINX
  &[data-name$=".conf"]:before           { .nginx-icon;           .dark-green; }

  // Nodemon
  &[data-name="nodemon.json"]:before,
  &[data-name=".nodemonignore"]:before   { .gear-icon;          .medium-green; }

  // NPM (Node.js)
  &[data-name=".npmrc"]:before           { .npm-icon;             .medium-red; }
  &[data-name=".npmignore"]:before       { .npm-icon;             .medium-red; }
  &[data-name="npm-debug.log"]:before    { .npm-icon;             .medium-red; }
  &[data-name="package.json"]:before     { .npm-icon;             .medium-red; }

  // Objective-C, C++, C
  &[data-name$=".c"]:before              { .c-icon;              .medium-blue; }
  &[data-name$=".h"]:before              { .c-icon;            .medium-purple; }
  &[data-name$=".cpp"]:before            { .cpp-icon;             .auto(blue); }
  &[data-name$=".hpp"]:before            { .cpp-icon;           .auto(purple); }
  &[data-name$=".cxx"]:before            { .cpp-icon;            .medium-blue; }
  &[data-name$=".cc"]:before             { .cpp-icon;            .medium-blue; }
  &[data-name$=".hxx"]:before            { .cpp-icon;          .medium-purple; }
  &[data-name$=".ipp"]:before            { .cpp-icon;          .medium-orange; }
  &[data-name$=".m"]:before              { .objc-icon;           .medium-blue; }
  &[data-name$=".mm"]:before             { .objc-icon;           .medium-blue; }
  &[data-name$=".swift"]:before          { .swift-icon;         .medium-green; }
  &[data-name$=".cs"]:before             { .csharp-icon;          .auto(blue); }
  &[data-name$=".vb"]:before             { .code-icon;           .medium-blue; }

  // OCaml
  &[data-name$=".ml"]:before             { .ocaml-icon;        .medium-orange; }
  &[data-name$=".mli"]:before            { .ocaml-icon;          .dark-orange; }
  &[data-name$=".eliom"]:before          { .ocaml-icon;           .medium-red; }
  &[data-name$=".eliomi"]:before         { .ocaml-icon;             .dark-red; }
  &[data-name$=".ml4"]:before            { .ocaml-icon;         .medium-green; }
  &[data-name$=".mll"]:before            { .ocaml-icon;           .dark-green; }
  &[data-name$=".mly"]:before            { .ocaml-icon;          .dark-yellow; }

  // OpenSCAD
  &[data-name$=".scad"]:before           { .scad-icon;         .medium-orange; }

  // Org-mode
  &[data-name$=".org"]:before            { .org-icon;             .dark-green; }

  // OS packages
  &[data-name$=".deb"]:before            { .debian-icon;          .medium-red; }
  &[data-name$=".rpm"]:before            { .red-hat-icon;         .medium-red; }
  &[data-name$=".dmg"]:before            { .osx-icon;             .medium-red; }

  // Perl
  &[data-name$=".pl"]:before             { .perl-icon;           .medium-blue; }
  &[data-name$=".pl6"]:before            { .perl-icon;            .light-blue; }
  &[data-name$=".pm"]:before             { .perl-icon;             .dark-blue; }
  &[data-name$=".t"]:before              { .perl-icon;           .medium-blue; }

  // PHP
  &[data-name$=".php"]:before            { .php-icon;              .dark-blue; }
  &[data-name$=".hh"]:before             { .php-icon;              .dark-blue; }
  &[data-name$=".blade.php"]:before      { .laravel-icon;        .dark-purple; }

  // PostCSS
  &[data-name$=".postcss"]:before        { .postcss-icon;           .dark-red; }
  &[data-name$=".sss"]:before            { .postcss-icon;          .dark-pink; }

  // PowerShell
  &[data-name$=".ps1"]:before            { .terminal-icon;       .medium-blue; }
  &[data-name$=".psd1"]:before           { .terminal-icon;       .medium-blue; }
  &[data-name$=".psm1"]:before           { .terminal-icon;       .medium-blue; }
  &[data-name$=".ps1xml"]:before         { .terminal-icon;       .medium-blue; }
  
  // Pug/Jade
  &[data-name$=".pug"]:before,
  &[data-name$=".jade"]:before           { .jade-icon;            .medium-red; }

  // Python
  &[data-name$=".py"]:before             { .python-icon;         .dark-yellow; }
  &[data-name$=".ipy"]:before            { .python-icon;           .dark-blue; }

  // R
  &[data-name$=".rd"]:before,
  &[data-name$=".rsx"]:before,
  &[data-name$=".Rprofile"]:before,
  &[data-name$=".R"]:before,
  &[data-name$=".r"]:before              { .r-icon;              .medium-blue; }

  // RAML
  &[data-name$=".raml"]:before           { .raml-icon;           .medium-cyan; }

  // Readme
  &[data-name="README.md"]:before,
  &[data-name="Readme.md"]:before,
  &[data-name="readme.md"]:before        { .book-icon;           .medium-blue; }

  // Ren'Py (Python)
  &[data-name$=".rpy"]:before            { .python-icon;         .medium-pink; }
  &[data-name$=".rpyb"]:before           { .binary-icon;          .medium-red; }
  &[data-name$=".rpyc"]:before           { .binary-icon;          .medium-red; }

  // Riot.js
  &[data-name$=".tag"]:before            { .riot-icon;            .medium-red; }

  // Ruby
  &[data-name="Capfile"]:before,
  &[data-name$="Gemfile"]:before,
  &[data-name$="Gemfile.lock"]:before,
  &[data-name="Guardfile"]:before,
  &[data-name$="Rakefile"]:before,
  &[data-name$=".gemspec"]:before,
  &[data-name=".ruby-gemset"]:before,
  &[data-name=".ruby-version"]:before,
  &[data-name=".rspec"]:before,
  &[data-name$=".rb"]:before,
  &[data-name$=".ru"]:before,
  &[data-name$=".rake"]:before,
  &[data-name$=".erb"]:before,
  &[data-name$=".opal"]:before           { .ruby-icon;            .medium-red; }
  &[data-name$="_spec.rb"]:before        { .ruby-icon;           .light-green; }
  &[data-name="rails"]:before            { .rails-icon;           .medium-red; }
  &[data-name$=".pp"]:before             { .puppet-icon;       .medium-purple; }
  &[data-name$=".gem"]:before            { .zip-icon;             .medium-red; }

  // Rust
  &[data-name$=".rs"]:before             { .rust-icon;         .medium-maroon; }
  &[data-name$=".rlib"]:before           { .rust-icon;          .light-maroon; }
  &.title[data-path][data-name$=".rs"]:before,
  &.title[data-path][data-name$=".rlib"]:before        { vertical-align: -35%; }

  // SaltStack
  &[data-name$=".sls"]:before            { .saltstack-icon;       .auto(blue); }

  // Sass/SCSS
  &[data-name$=".sass"]:before           { .sass-icon;             .dark-pink; }
  &[data-name$=".scss"]:before           { .sass-icon;            .light-pink; }

  // Scala
  &[data-name$=".scala"]:before          { .scala-icon;           .medium-red; }

  // Secret
  &[data-name$=".secret"]:before         { .secret-icon; }

  // Seperated-value files
  &[data-name$=".csv"]:before            { .graph-icon;            .light-red; }
  &[data-name$=".tsv"]:before            { .graph-icon;          .light-green; }

  // Shell
  &[data-name$=".sh"]:before,
  &[data-name$=".bash"]:before,
  &[data-name="bashrc"]:before,
  &[data-name=".bashrc"]:before,
  &[data-name="bash_login"]:before,
  &[data-name=".bash_login"]:before,
  &[data-name="bash_profile"]:before,
  &[data-name=".bash_profile"]:before    { .terminal-icon;     .medium-purple; }
  &[data-name$=".zsh"]:before,
  &[data-name=".zshrc"]:before           { .terminal-icon;       .medium-blue; }
  &[data-name$=".fish"]:before,
  &[data-name=".fishrc"]:before          { .terminal-icon;      .medium-green; }
  
  // Sketch
  &[data-name$=".sketch"]:before         { .sketch-icon;       .medium-orange; }

  // Smarty
  &[data-name$=".tpl"]:before            { .smarty-icon;        .auto(yellow); }

  // Sourcepwn
  &[data-name$=".sp"]:before,            { .clojure-icon;       .auto(yellow); }
  &[data-name$=".inc"]:before            { .clojure-icon;       .medium-green; }

  // SQL
  &[data-name$=".sql"]:before,
  &[data-name$=".SQL"]:before            { .sql-icon; }

  // Template Toolkit
  &[data-name$=".tt"]:before             { .tt-icon;             .medium-blue; }
  &[data-name$=".tt2"]:before            { .tt-icon;             .medium-blue; }
  &[data-name$=".tt3"]:before            { .tt-icon;           .medium-purple; }

  // Terraform
  &[data-name$=".tf"]:before             { .terraform-icon;      .dark-purple; }

  // TeX
  &[data-name$=".tex"]:before            { .tex-icon;             .auto(blue); }
  &[data-name$=".sty"]:before            { .tex-icon;              .auto(red); }
  &[data-name$=".cls"]:before            { .tex-icon;           .auto(orange); }
  &[data-name$=".bib"]:before            { .bibtex-icon;        .auto(yellow); }

  // Text
  &[data-name$=".txt"]:before            { .medium-cyan; }

  // Travis
  &[data-name^=".travis"]:before         { .travis-icon;          .medium-red; }

  // Twig
  &[data-name$=".twig"]:before           { .twig-icon;          .medium-green; }

  // TypeScript
  &[data-name$=".ts"]:before             { .ts-icon;             .medium-blue; }

  // Vim
  &[data-name$=".vim"]:before,
  &[data-name$=".nvimrc"]:before,
  &[data-name$=".vimrc"]:before,
  &[data-name="_vimrc"]:before,
  &[data-name="gvimrc"]:before,
  &[data-name="nvimrc"]:before,
  &[data-name="vimrc"]:before            { .vim-icon;           .medium-green; }

  // Vue
  &[data-name$=".vue"]:before            { .vue-icon;            .light-green; }
  
  // Webpack
  &[data-name*="webpack.config."]:before { .webpack-icon;        .medium-blue; }

  // Windows-specific
  &[data-name$=".bat"]:before            { .windows-icon;      .medium-purple; }
  &[data-name$=".cmd"]:before            { .windows-icon;      .medium-purple; }
  &[data-name$=".exe"]:before            { .windows-icon;                      }
  &[data-name$=".com"]:before            { .windows-icon;                      }
  &[data-name$=".reg"]:before            { .windows-icon;        .medium-blue; }

  // XAML
  &[data-name$=".xaml"]:before           { .code-icon;           .medium-blue; }
  
  
  /*============================================================================
       THESE RULES MUST BE LISTED LAST TO AVOID BEING OVERRIDDEN BY OTHERS
  ============================================================================*/
  // Apache
  &[data-name="apache.conf"]:before      { .apache-icon;          .medium-red; }
  &[data-name="apache2.conf"]:before     { .apache-icon;          .medium-red; }
  &[data-name="httpd.conf"]:before       { .apache-icon;          .medium-red; }
  
  // Appveyor
  &[data-name="appveyor.yml"]:before     { .appveyor-icon;       .medium-blue; }
  
  // Bower
  &[data-name=".bowerrc"]:before         { .bower-icon;                        }
  &[data-name="bower.json"]:before       { .bower-icon;          .auto(bower); }
  
  // Broccoli
  &[data-name^="Brocfile."]:before,
  &[data-name^="brocfile."]:before        { .broccoli-icon;     .medium-green; }
  
  // Cargo
  &[data-name$="Cargo.toml"]:before      { .package-icon;       .light-orange; }
  &[data-name$="Cargo.lock"]:before      { .package-icon;        .dark-orange; }
  
  // Composer
  &[data-name="composer.json"]:before    { .composer-icon;     .medium-yellow; }
  
  // ERB combinations
  &[data-name$=".js.erb"]:before         { .js-icon;              .medium-red; }
  &[data-name$=".coffee.erb"]:before     { .coffee-icon;          .medium-red; }
  &[data-name$=".html.erb"]:before       { .html5-icon;           .medium-red; }
  
  // Grunt
  &[data-name$="GRUNTFILE.js"]:before,
  &[data-name$="Gruntfile.js"]:before,
  &[data-name$="gruntfile.js"]:before      { .grunt-icon;      .medium-yellow; }
  &[data-name$="GRUNTFILE.coffee"]:before,
  &[data-name$="Gruntfile.coffee"]:before,
  &[data-name$="gruntfile.coffee"]:before  { .grunt-icon;      .medium-maroon; }

  // Gulp
  &[data-name$="GULPFILE.js"]:before,
  &[data-name$="Gulpfile.js"]:before,
  &[data-name$="gulpfile.js"]:before       { .gulp-icon;          .medium-red; }
  &[data-name$="GULPFILE.coffee"]:before,
  &[data-name$="Gulpfile.coffee"]:before,
  &[data-name$="gulpfile.coffee"]:before   { .gulp-icon;       .medium-maroon; }
  &[data-name$="GULPFILE.babel.js"]:before,
  &[data-name$="Gulpfile.babel.js"]:before,
  &[data-name$="gulpfile.babel.js"]:before { .gulp-icon;          .medium-red; }
}



// Strip colouring if colourless-icons are enabled
body.file-icons-colourless {
  .icon-file-text,
  .icon-file-directory,
  .icon-file-media,
  .icon-file-binary,
  .icon-book,
  atom-pane ul.tab-bar li.tab .title {
    &:before { color: inherit !important; }
  }
}


// Forcefully show icons
body.file-icons-force-show-icons {
  .tree-view .entry > .header > .name:before,
  .tree-view .entry > .name:before {
    display: inherit;
  }
}


// Show colours only when files have been modified
body.file-icons-on-changes {
  .file.entry.list-item:not(.status-modified) {
    .name.icon:before {
      color: inherit !important;
    }
  }
}


// #gh-271: Undo styling applied by Remote-Edit
@{pane-tab-selector}{
  &.icon-globe::before{
    display: inline;
    line-height: inherit;
    width: auto;
    height: auto;
  }
}
